<div >
<h2>Afwezigheidsoverzicht</h2>

<h3>Sprint: {{data.currSprint.naam}}</h3>

<table class="ovz">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th ng-repeat="dag in data.users[0].data">
				{{dag.dowName}}
			</th>
		</tr>
		<tr>
			<th>Team</th>
			<th>Naam</th>
			<th ng-repeat="dag in data.users[0].data">
				{{dag.dag}}-{{dag.maand}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in data.users">
			<td style="color:{{user.rgb}}">{{user.team}}</td>
			<td>{{user.naam}}</td>
			<td 
				class="dagobj"
				ng-class="{dhn: (dag.soort=='D'),sprint: (dag.soort=='S'),cursus: (dag.soort=='C'), weekend:((dag.dow==6 && dag.soort != 'D') || (dag.dow==7 && dag.soort != 'D')) ,vrij: ((dag.uren==0.0 && dag.soort != 'C' && dag.soort != 'S' && dag.soort != 'D' && dag.soort != 'T') || dag.soort=='V'), thuis: (dag.soort=='T')}"
				ng-repeat="dag in user.data">
				<span class="uren" ng-if="dag.soort=='T' || dag.soort=='K'">{{dag.uren}}</span>
				<span class="thuis glyphicon glyphicon-home" ng-if="dag.soort=='T'"></span>
				<span class="uren" ng-if="dag.soort=='C'">C</span>
				<span class="uren" ng-if="dag.soort=='S'">S</span>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td>Totaal aanwezig F3 (max 19!)</td>
			<td 
				ng-repeat="totaal in data.totaal"
				ng-class="{goed: (totaal < 20), fout: (totaal >= 20)}">
				{{totaal}}
			</td>
		</tr>
	</tfoot>
</table>

<table ng-repeat="team in data.totaalTeam" class="totteam">
	<tr>
		<th colspan= "2" style="color:{{team.rgb}}">{{team.naam}}</th>
	</tr>
	<tr ng-if="team.Ontwerper!=null">
		<th>O</th>
		<td>{{team.Ontwerper}}</td>
	</tr>
	<tr ng-if="team.Bouwer!=null">
		<th>B</th>
		<td>{{team.Bouwer}}</td>
	</tr>
	<tr ng-if="team.Tester!=null">
		<th>T</th>
		<td>{{team.Tester}}</td>
	</tr>
</table>

</div>