<div>
		<form name="loginForm" ng-submit="save(prefs)" class="form-signin" novalidate>
			<h2 class="form-signin-heading">Preferences</h2>
			
			<div class="input-group">
				<label for="password" class="sr-only">Telefoonnr:</label> 
    			<span class="input-group-addon glyphicon glyphicon-earphone"></span>
				<input type="text" id="phone" ng-model="prefs.phone" placeholder="Telefoonnr" class="form-control" required>
			</div>
			
			<div class="input-group">
				<label for="username" class="sr-only">Team:</label> 
    			<span class="input-group-addon glyphicon glyphicon-globe"></span>
				<select selectpicker data-ng-model="prefs.team" ng-options="team.id as team.naam for team in teams" class="form-control">
    	             <option value="">Kies een team...</option>
        	     </select>
             </div>
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Save" />
		</form>
</div>