@CHARSET "ISO-8859-1";
body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.days{font-family:courier;}

td.dag{
	 border:solid 1px green;
}

.dagobj{width:50px;height: 50px; background-color:white;}
.dagobj.thuis{background-color:yellow;}
.dagobj.cursus{background-color:#00b0f0;}
.dagobj.dhn{background-color:green;}
.dagobj.vrij{background-color:#92d050;}
.dagobj.sprint{background-color:#ffc000;}
.dagobj.weekend{background-color:silver;}
.afw .dagobj:hover{outline:1px solid cyan;cursor: pointer;}
.dagobj.outsidemonth{background-color:silver;cursor: default;}


.dagnr{color: gray;
    float: left;
    line-height: 19px;}
.uren{color: #000000;
    font-size: 23px;
    line-height: 23px;
    padding-left: 10px;}
.form-uren{
		position: relative;
		top:-10px;
}

.ovz {margin-top:20px;}
.ovz th, .ovz td{border:solid 1px gray;}
.ovz th{text-align: center;}
.ovz td{padding: 0 5px;}
.ovz .dagobj{width:40px;height:20px;text-align: center;}
.ovz .uren{font-size: 12px; line-height: inherit; padding:0;}
.ovz .thuis{font-size: xx-small;}
.ovz .goed{background-color:#04B45F;text-align: center;font-weight: bold;}
.ovz .fout{background-color:red;text-align: center;font-weight: bold;}

.ovz tbody tr:hover {outline:solid 2px gray;}
.ovz .today{border-left:solid 3px #ffc000;border-right:solid 3px #ffc000;}
.ovz thead .today.top{border-top:solid 3px #ffc000;}
.ovz tfoot .today{border-bottom:solid 3px #ffc000;}

.form-uren .form-control:focus{box-shadow:none;}

.form-signin .form-control.bootstrap-select{padding:0;}
.form-signin .form-control.bootstrap-select .selectpicker{padding:10px;}
.form-signin .form-control.bootstrap-select .dropdown-menu.open{position:relative; }

.afwmut{margin: 0 auto;
    max-width: 357px;}


.totteam{float:left; margin-right:10px;margin-top:20px;}
.totteam th, .totteam td{border:solid 1px gray;}
.totteam th{padding: 0 5px;}
.totteam td{text-align: right;}

@media (max-width: 480px) {
.dagobj{width:44px;height: 44px;} 
 }
 